body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:black;
    padding:1px;
    margin: 0;
}
nav{
    display:inline-block;
    /* float:right; */
    position: absolute;
    right:50px;
    }

nav ul li{
    display:inline-block;
    padding:0 10px;
     
}
.apps{
    display: block;
}
.dot{
    height: 25px;
    width:5px;
    background-color: #197004;
    border-radius: 50%;
    color:#f2f2f2;
    display: inline-block;    
}
.t-align{
    padding-top: 10px;    
}

main{
    position:relative;
    display: block;
    /* border: 1px solid red; */
    margin-left:500px;
    margin-right:500px;
    width: 30%;
    height:300px;
    margin-top:430px;
    /* border: 1px solid red; */
 }
 main div{
     padding-top: 30px;
 }

 input{
    width:600px;
    height:40px;
    position: relative;
    border-radius: 40px;
    border:1px solid #cecece
}
input:hover{
    box-shadow:1px solid red;
}

button{
    background-color: #f8f9fa;
    width: auto;
    height:40px;
    padding:0 30px;
    border-radius:5px;
    border:1px solid #fff;
    margin:3px;
    font-size:14px;
    color: #504e4e;
}

footer {    
    bottom:1px;
    padding:1px 0 1px 0;
    color: rgba(0,0,0,.54);
    margin-top:400px;
    font-size:15px;
}
footer{
    background-color: #f2f2f2;
}
footer div ul {
    display: inline-block;
   }
footer div ul li{
    display: inline-block;
    padding-right: 15px;
}
.r_list{
    float:right;
}

.f_border{
    border-bottom:1px solid #dadce0;
}

.divide{
    display:inline-flex;
    padding:10px auto;
    float:right;
}

